*{padding: 0; margin: 0;}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{background: white;}

header{background: black; color: white; padding: 100px; text-align: center; font-family: 'Anton', sans-serif; font-size: 40px; }
header a{text-decoration: none; color: rgba(255, 255, 255, 0.8);}
header a:hover{color: white;}

section#s1{background:white; padding-top: 10vh; padding-bottom: 10vh;}
section#s2{background: url(imagens/cidade.jpg) center center fixed; background-size: cover; height: 80vh;  padding-top: 10vh; padding-bottom: 10vh;}
section#s3{background: url(imagens/folha.jpg) center center fixed; background-size: cover; height: 80vh;  padding-top: 10vh; padding-bottom: 10vh;}

section p{max-width: 550px; font-size: 40px; line-height: 2em; padding: 2.5vh; display: inline-block}
section#s2 p{background-color: rgba(0, 0, 0, 0.7); color: white;}
section#s3 p{background-color: rgba(0, 0, 0, 0.7); color: white;}

footer{background: black; color: white; padding: 20px; text-align: center; font-size: 25px; font-family: 'Anton', sans-serif;}

@media(max-width:600px){

header{padding: 50px; font-size: 20px; }

section#s1{ padding-top: 10vh; padding-bottom: 10vh;}
section#s2{height: 40vh;  padding-top: 10vh; padding-bottom: 10vh;}
section#s3{height: 40vh;  padding-top: 10vh; padding-bottom: 10vh;}

section p{max-width: 550px; font-size: 20px; line-height: 2em;}

footer{padding: 20px; font-size: 18px;}
}